.cards-wrap {
    /* width:calc((100% -40px)/ 3); */
    margin-right: 20px;
    border-radius: 3px;
    border: 1px solid #E6E9EC;
    text-align: left;
    cursor: pointer;
}
.cards-wrap:hover{
    transform: scale(1.03);
    transition: 0.4s all ;
    
}
.text-wrap{
    padding:24px 20px 8px 20px;
}
.card-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    

}

.card-disc {
    /* font-family: Montserrat; */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    
    color: #696969;

}

.card-img {
    width: 381px;
    height: 220px;
    border-radius: 5px;
}
.card-price-wrap{
    position: relative;
}
.card-price{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0D263B;
}
.old-price{
    position: absolute;
    top: -12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #696969;
}